pkgbase = atproto-pds
	pkgdesc = AT Protocol PDS (Personal Data Server)
	pkgver = 0.4.74
	pkgrel = 1
	url = https://github.com/bluesky-social/pds
	install = atproto-pds.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = npm
	depends = nodejs
	backup = etc/pds.env
	source = git+https://github.com/bluesky-social/pds.git#tag=v0.4.74
	source = pdsadmin.sh
	source = pds.service
	source = pds.sysusers
	source = pds.tmpfiles
	source = pds.env
	md5sums = SKIP
	md5sums = 6f8dd2c85a0ee59ed4209e059ff84040
	md5sums = d1c418dcce88825a1df3a2c53953f2ea
	md5sums = 1428828b56dbcb0e7ffaf91b6ce13657
	md5sums = 255bc1f00bfd37afe0c683a46028f049
	md5sums = 44a260c5bc36e339ed66f026238520ad

pkgname = atproto-pds
